POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  ##OEROOT##/meta-yocto-bsp \
  ##OEROOT##/../meta-raspberrypi \
  ##OEROOT##/../meta-lts-mixins \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-filesystems \
  ##OEROOT##/../meta-openembedded/meta-multimedia \
  ##OEROOT##/../meta-virtualization \
  ##OEROOT##/../meta-ros/meta-ros-common \
  ##OEROOT##/../meta-ros/meta-ros2 \
  ##OEROOT##/../meta-ros/meta-ros2-jazzy \
  ##OEROOT##/../meta-yoke \
"
